*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-container: #ff6900;
    --sales-color: #ff0000;
    --sostenibility-color: #008000;
    --footer-color: #1a1a1a;
    --price-color: #ff1c3b;


}

.container{
    display: flex;
    justify-content: space-around;
    background-color: var(--header-container);
    .logo{
        img{
            height: 25px;
            margin: 1rem;
        }
        
    }
    
}

.actions{
    display: flex;
    color: white;
    align-items: center;
    gap: 0.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
        vertical-align: middle;
        &:hover{
            text-decoration: underline;
        }
    }
}

.upper-images{
    display: flex;
    justify-content: center;
    gap: 1rem;
    img{
        max-height: 400px;
        margin-top: 3rem;     
    }
    .first-image{
        :hover{
            .first-pic{
                position: absolute;
                z-index: 1;
            }
            .first-pic-b{
                position: absolute;
                z-index: 2;
            }
        }
        
    }
}

.lower-images{
    display: flex;
    justify-content: center;
    gap: 1rem;
    img{
        max-height: 400px;
        margin-top: 3rem;        
    }
}

footer{
    display: flex;
    margin-top: 2rem;
    background-color: var(--footer-color) ;
    height: 200px;
    color: white;
}

.boolean{
    text-align: center;
    line-height: 2rem;
    
    .footer-nav{
        position: relative;
        left: 126px;
        gap: 1rem;
        a{

            color: white;
            text-decoration: none;
     
        }
    }
}

.social{
    text-align: center;
    line-height: 2rem;
    position: relative;
    left: 1200px;
    
    p{
        font-weight: bold;
    }
    .fa-brands{
        color: black;
        background-color: white;
    }
}

span{
    color: var(--price-color);
}

h4{
    font-weight: bold ;
}

#entire-price{
    color: black;
    text-decoration-line: line-through ;
}

.fa-solid{
    background-color: white;
    height: 2rem;
    padding: 0.5rem;;
    position: relative;
    bottom: 450px;
    left: 245px;
}

.sale{
    background-color: var(--sales-color);
    text-align: center;
    width: 3rem;
    color: white;
    position: relative;
    bottom: 150px;
}

#sostenibility{
    background-color: var(--sostenibility-color);
    width: 6rem;
    text-align: center;
    color: white;
    position: relative;
    bottom: 168px;
    left: 55px;
}

#sostenibility-sixth{
    background-color: var(--sostenibility-color);
    width: 6rem;
    text-align: center;
    color: white;
    position: relative;
    bottom: 150px;
}
